params {

	illumina_fastq_dir = null
	nanopore_fastq_dir = null

	ref_mmi = null
	
    gottcha2_cpus = 8
	
	ref_mmi_cache = "${launchDir}/ref_mmi_cache"

	results = "${launchDir}/results"
	setup_results = params.results + "/00_setup"
	gottcha_results = params.results + "/01_gottcha2"
	gottcha_sam = params.gottcha_results + "/01_sam_files"
	gottcha_stats = params.gottcha_results + "/02_stats_tsvs"
	gottcha_fasta = params.gottcha_results + "/03_representative_seqs"

}

// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
		overwrite = true
    file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {

	standard {

		apptainer.enabled = false
		docker.enabled = false
		conda.enabled = false

	}

	docker {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false

		process.container = ""

	}

	singularity {

		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false

		process.container = ""

	}

	apptainer {

		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false

		process.container = ""

	}

  containerless {

		apptainer.enabled = false
		docker.enabled = false
		conda.enabled = false

    }
}

